name: Build and deploy Node.js app to Azure Web App - fresh-cart

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:    
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@master     

    - name: Set up Node.js version
      uses: actions/setup-node@v3
      with:
        node-version: '18.x'

    - name: npm install, build, and test
      run: |
        npm install
        npm run build --if-present
        npm test
      env:
        CI: true
